<div>
<marquee><CENTER><B><h1>THIS IS MY RAILS FIRST PROJECT!!!</h1></CENTER></B><BR><BR></style></marquee>
<CENTER><H2><u>THE NEW TIME'S OF INDIA</u></H2></CENTER>
<center><%=image_tag("news.jpg",size: "500x550")%></center>
<%= link_to 'START TO MAKING YOUR ARTICALS', controller: 'articles' %>
</div>